@font-face {
    font-family: 'ImpactRegular';
    src: url('../fonts/ImpactRegular.woff2'),
        url('../fonts/ImpactRegular.woff');
    font-style: normal;
    font-display: swap;
    font-weight: 400;
}

@font-face {
    font-family: 'RobotoCondensedBold';
    src: url('../fonts/RobotoCondensed-Bold.woff2'),
        url('../fonts/RobotoCondensed-Bold.woff');
    font-style: normal;
    font-display: swap;
    font-weight: 700;
}

@font-face {
    font-family: 'RobotoCondensedItalic';
    src: url('../fonts/RobotoCondensed-Italic.woff2'),
        url('../fonts/RobotoCondensed-Italic.woff');
    font-style: italic;
    font-display: swap;
    font-weight: 400;
}

@font-face {
    font-family: 'RobotoCondensedLight';
    src: url('../fonts/RobotoCondensed-Light.woff2'),
        url('../fonts/RobotoCondensed-Light.woff');
    font-style: normal;
    font-display: swap;
    font-weight: 300;
}

@font-face {
    font-family: 'RobotoCondensedRegular';
    src: url('../fonts/RobotoCondensed-Regular.woff2'),
        url('../fonts/RobotoCondensed-Regular.woff');
    font-style: normal;
    font-display: swap;
    font-weight: 400;
}