@import 'reset';
@import 'fonts';

body {
    color: #040404;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
    font-family: 'RobotoCondensedRegular', sans-serif;
}

.big-container {
    max-width: 1220px;
    padding: 0 10px;
    margin: 0 auto;
}

.container {
    max-width: 920px;
    padding: 0 10px;
    margin: 0 auto;
}

.header {
    padding-top: 25px;
    position: absolute;
    left: 0;
    right: 0;
    background: linear-gradient(180deg, #D8D4CA 0%, rgba(217, 217, 217, 0.00) 100%);
}

.nav {
    display: flex;
    justify-content: space-between
}

.menu {
    &-list {
        display: flex;
        align-items: center;
        gap: 0 40px;
    }

    &-link {
        font-size: 16px;
        color: #363636;
    }

    &-left {
        padding-left: 25px;
    }

    &-right {
        padding-left: 80px;
    }
}

.promo {
    background-image: url(../images/promo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &__inner {
        padding-top: 98px;
        min-height: 100vh;
        text-align: center;
        display: flex;
        flex-direction: column;
    }

    &__text {
        font-size: 16px;
        color: #363636;
        margin-bottom: 10px;
    }

    &__arrow {
        margin-top: auto;
        margin-bottom: 30px;
        align-self: center;
    }
}

.title {
    text-transform: uppercase;
    font-family: 'ImpactRegular', sans-serif;
    font-size: 76px;
    letter-spacing: 0.09em;
    margin-bottom: 10px;
}

.subtitle {
    font-family: 'ImpactRegular', sans-serif;
    font-size: 76px;
    border-bottom: 1px solid #000;
    margin-bottom: 10px;
    align-self: center;

    & span {
        display: block;
        color: #9F6B08;
        font-size: 34px;
        padding: 10px 0;
    }
}

.info {
    margin-bottom: 100px;

    &__title {
        text-transform: uppercase;
        margin-bottom: 30px;
        font-size: 32px;
        font-weight: 300;
    }

    &__text {
        flex-basis: 440px;
        margin-bottom: 30px;
    }

    &__content {
        flex-basis: 415px;
    }

    &__part {
        padding-top: 100px;
        display: flex;
        justify-content: space-between;

        &--first {
            display: block;
        }

        &--third {
            padding-top: 66px;
        }

        &-textbox {
            display: flex;
            justify-content: space-between;
            gap: 0 20px;
        }

        &-img {
            object-fit: cover
        }
    }
}

.info__part--second .info__text {
    max-width: 352px;
}

.info__part--third .info__text {
    max-width: 377px;
}

.info__table {
    position: relative;
    top: 20px;

    &::before {
        content: "";
        position: absolute;
        border-top: 1px solid #040404;
        width: 100%;
        top: -20px;
    }

    flex-basis: 450px;
    border-bottom: 1px solid #040404;

    & td {
        padding-bottom: 20px;
    }
}

.track {
    background-image: url(../images/track-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &__inner {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    &__title {
        padding-top: 50px;
        padding-bottom: 30px;
        font-size: 32px;
        font-weight: 300;
    }

    &__text {
        max-width: 435px;
    }

    &__img {
        margin: auto auto 90px auto;
    }
}













@import 'media';