@import 'reset';
@import 'fonts';
@import 'swiper-bundle';

body {
    color: #040404;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
    font-family: 'RobotoCondensedRegular', sans-serif;
}

img {
    max-width: 100%;
}

.big-container {
    max-width: 1220px;
    padding: 0 10px;
    margin: 0 auto;
}

.container {
    max-width: 920px;
    padding: 0 10px;
    margin: 0 auto;
}

.header {
    padding-top: 25px;
    position: absolute;
    left: 0;
    right: 0;
    background: linear-gradient(180deg, #D8D4CA 0%, rgba(217, 217, 217, 0.00) 100%);
}

.nav {
    display: flex;
    justify-content: space-between
}

.menu {
    &-list {
        display: flex;
        align-items: center;
        gap: 0 40px;
    }

    &-link {
        font-size: 16px;
        color: #363636;
    }

    &-left {
        padding-left: 25px;
    }

    &-right {
        padding-left: 80px;
    }
}

.promo {
    background-image: url(../images/promo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &__inner {
        padding-top: 98px;
        min-height: 100vh;
        text-align: center;
        display: flex;
        flex-direction: column;
    }

    &__text {
        font-size: 16px;
        color: #363636;
        margin-bottom: 10px;
    }

    &__arrow {
        margin-top: auto;
        margin-bottom: 30px;
        align-self: center;
    }
}

.title {
    text-transform: uppercase;
    font-family: 'ImpactRegular', sans-serif;
    font-size: 76px;
    letter-spacing: 0.09em;
    margin-bottom: 10px;
}

.subtitle {
    font-family: 'ImpactRegular', sans-serif;
    font-size: 76px;
    border-bottom: 1px solid #000;
    margin-bottom: 10px;
    align-self: center;

    & span {
        display: block;
        color: #9F6B08;
        font-size: 34px;
        padding: 10px 0;
    }
}

.info {
    margin-bottom: 100px;

    &__title {
        text-transform: uppercase;
        margin-bottom: 30px;
        font-size: 32px;
        font-weight: 300;
    }

    &__text {
        flex-basis: 440px;
        margin-bottom: 30px;
    }

    &__content {
        flex-basis: 415px;
    }

    &__part {
        padding-top: 100px;
        display: flex;
        justify-content: space-between;

        &--first {
            display: block;
        }

        &--second {
            gap: 0 20px;
        }

        &--third {
            padding-top: 66px;
            gap: 0 20px;

        }

        &-textbox {
            display: flex;
            justify-content: space-between;
            gap: 0 20px;
        }

        &-img {
            object-fit: cover
        }
    }
}

.info__part--second .info__text {
    max-width: 352px;
}

.info__part--third .info__text {
    max-width: 377px;
}

.info__table {
    position: relative;
    top: 20px;

    &::before {
        content: "";
        position: absolute;
        border-top: 1px solid #040404;
        width: 100%;
        top: -20px;
    }

    flex-basis: 450px;
    border-bottom: 1px solid #040404;

    & td {
        padding-bottom: 20px;
    }
}

.track {
    background-image: url(../images/track-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &__inner {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    &__title {
        padding-top: 50px;
        padding-bottom: 30px;
        font-size: 32px;
        font-weight: 300;
    }

    &__text {
        max-width: 435px;
    }

    &__img {
        margin: auto auto 90px auto;
    }
}

.evo {
    font-size: 14px;
    margin-bottom: 100px;

    &-black {
        background-color: #363636;
        padding: 100px 0 50px;
        color: #fff;

        &__info {
            display: flex;
            justify-content: space-between;
        }

        &__title {
            text-transform: uppercase;
            font-size: 32px;
            font-weight: 300;
            padding-right: 50px;
        }

        &__infobox {
            flex-basis: 437px;
        }

        &__text {
            margin-bottom: 30px;
        }

        &__img {
            display: block;
            margin: 170px auto 60px;
            position: relative;
            z-index: 1;
        }
    }

    &__descr-list {
        display: flex;
        justify-content: center;
        gap: 0 65px;

        & dd {
            text-transform: uppercase;
        }
    }
}

.evo-white {
    &__inner {
        padding-top: 125px;
    }

    &__text {
        margin-bottom: 30px;

        &:first-child {
            max-width: 285px;
        }

        &:nth-child(2) {
            max-width: 437px;
        }

        &:nth-child(3) {
            max-width: 590px;
        }
    }

    &__video {
        margin-top: 100px;
        background-image: url(../images/evo-video.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 264px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

        &-link span {
            display: block;
            color: #fff;
        }
    }
}

.evo-black__inner {
    position: relative;

    &::before {
        content: "";
        position: absolute;
        background-image: url(../images/dec-1.svg);
        width: 185px;
        height: 213px;
        top: 210px;
        left: -139px;
    }

    &::after {
        content: "";
        position: absolute;
        background-image: url(../images/dec-2.svg);
        width: 498px;
        height: 572px;
        top: 290px;
        left: -40px;
    }
}

.evo-white__inner {
    position: relative;

    &::before {
        content: "";
        position: absolute;
        background-image: url(../images/dec-3.png);
        width: 274px;
        height: 257px;
        top: -30px;
        left: 365px;
    }

    &::after {
        content: "";
        position: absolute;
        background-image: url(../images/dec-4.png);
        width: 324px;
        height: 311px;
        top: 115px;
        left: 600px;
    }
}

.blog {
    margin-bottom: 100px;

    &__title {
        font-size: 32px;
        font-weight: 300;
        text-transform: uppercase;
        margin-bottom: 30px;
    }

    &__item {
        &-img {
            margin-bottom: 20px;
        }

        &-title {
            font-size: 20px;
            text-transform: uppercase;
            font-weight: 400;
            margin-bottom: 10px;
            min-height: 46px;
        }

        &-text {
            margin-bottom: 10px;
        }

        &-link {
            font-size: 12px;
            color: #363636;
        }
    }
}

.blog__slider {
    position: relative;
    padding-top: 50px;
    margin-bottom: 100px;
}

.blog__button {
    position: absolute;
    top: 0;
    cursor: pointer;
    left: 50%;
}

.swiper-button-left {
    transform: translateX(-42px)
}

.swiper-button-right {
    transform: translateX(11px)
}

.blog {
    &__quote {
        display: flex;
        justify-content: space-between;
        gap: 0 20px;

        &-box {
            flex-basis: 434px;
        }
    }
}

.blockquote {
    margin-bottom: 30px;

    &__name {
        display: block;
        font-weight: 700;
        margin-bottom: 10px;
        font-style: normal;

        & span {
            display: block;
            margin-bottom: 3px;
            font-size: 12px;
            color: #9F6B08;
            font-weight: 400;
        }
    }

    &__text {
        font-style: italic;
    }
}

.footer {
    padding: 100px 0 80px;
    background-color: #363636;
    color: #fff;

    &__top {
        display: flex;
        justify-content: space-between;
        gap: 0 20px;
    }

    &__title {
        text-transform: uppercase;
        font-weight: 300;
        font-size: 32px;
        margin-bottom: 50px;
    }

    &__address {
        flex-basis: 462px;

        &-text {
            font-size: 16px;
            margin-bottom: 20px;
        }
    }

    &__info {
        &-item {
            margin-bottom: 40px;

            & dt {
                margin-bottom: 20px;
                text-transform: uppercase;
                font-weight: 700;
            }

            & dd {
                margin-bottom: 10px;
            }
        }
    }
}

.social-list {
    display: flex;
    gap: 0 20px;
    align-items: center;
}

.footer__address-title {
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: 700;
}

.footer__bottom {
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#map iframe {
    max-height: 250px;
    max-width: 100%;
}










.menu-mobile,
.menu-btn {
    display: none;
}


@import 'media';